*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

nav{
    background-color: antiquewhite;
    
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav img{
    width: 80px;
    height: 80px;
}
.home{
    color: #000;
    font-size: 25px;
    /* background-color: aqua; */
    border-radius: 3px;
    height: 20px;
    width: 30px;
    text-decoration: none;
    box-sizing : 2px solid #fff;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}
.home:hover{
    cursor: pointer;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
    
}
.heading{
    text-align: center;
    font-size: 50px;
    padding: 80px 0px;
    text-transform: uppercase;
    color: aquamarine;
}
/* .all_places{
    height: 100%;
    
} */
.conatiner{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    
    /* background-color: whitesmoke; */
    border-radius: 30px;
    justify-content: center;
    padding: 0px 0px 60px 0px;
    margin: 0px 50px;
}
.grid{
    height: 500px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* border: solid #000; */
    /* box-shadow: 0px 0px 0px 0px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
   
}
.grid:hover{
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.images{
    height: 270px;
    width: 385px;
    border-radius: 5px;
    
}
h1{
    text-align: center;
    /* font-size: 50px; */
    padding: 20px;
    text-transform: uppercase;
    /* color:; */
}
p{
    padding: 10px;
    font-size: 18px;
}

.social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid;
    background-color: whitesmoke;
} 
.social-media{
    display: flex;
    justify-content: space-around;
}
.media_text{
    padding: 10px;
}
.media_icons{
    color: black;
    padding: 20px ;
}
.copyright{
    background-color: rgb(8 30 33);
    height: 60px;
    
}
.text_copyright{
    text-align: center;
    color: #fff;
    
}
@media screen and (min-width:1440px){
    .images {
        width:333px;
    }
}
@media screen and (min-width:1200px) and (max-width:1440px){
    .images {
        width:320px;
    }
}
@media screen and (min-width:800px) and (max-width:1200px){
    .conatiner{
        grid-template-columns : 33.3% 33.3% 33.3%;
    }
    .images {
        width:280px;
    }
    
}
@media screen and (min-width:590px) and (max-width:799px){
    .conatiner{
        grid-template-columns : 50% 50%;
        margin:0px;
    }
    .images {
        width:300px;
    }
    .social-media {
        flex-direction: column;
    }
    .grid{
        justify-content: center;
    align-items: center;
    }

}
@media screen and (min-width:320px) and (max-width:589px){
    .conatiner{
        grid-template-columns : 100%;
        margin:0px;
    }
    .images {
        width:310px;
    }
    .social-media {
        flex-direction: column;
    }
    .grid{
        justify-content: center;
    align-items: center;
    }

}
